<form action='/bookmarks' method='post'>
  <label for="title">Enter a title:</label>
  <input type="text" name="title" id='title' required>
  <label for="url">Enter a URL:</label>
  <input type="url" name="url" id='url' required>
  <input type='submit' name='submit'>
</form>